<a href="https://colab.research.google.com/github/HelenaDEspindula/DSBD/blob/main/Caderno_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pergunta de Quiz

In [2]:
import math

nome = "Maria"
sobrenome = "Silva"
calculo = 36
calculo = math.sqrt(36)
print("nome ", nome, "sobrenome ", sobrenome, calculo)

nome  Maria sobrenome  Silva 6.0

Coisas da aula 2

In [ ]:
hrsdespindula@h8:~$ python3
Python 3.9.2 (default, Feb 28 2021, 17:03:44)
[GCC 10.2.1 20210110] on linux
Type "help", "copyright", "credits" or "license" for more information.
>> quit()


hrsdespindula@h8:~$ python3
Python 3.9.2 (default, Feb 28 2021, 17:03:44)
[GCC 10.2.1 20210110] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> print("SEU TEXTO")
SEU TEXTO
>>> print("ola mundo")
ola mundo

Realizando Operações<br>
O interpretador é capaz de realizar operações e exibir o resultado
Alguns operadores que podem ser usados:<br>
"+" Adição<br>
"-" Subtração<br>
"/" Divisão<br>
"*" Multiplicação<br>
"**" Exponenciação<br>
"%" Módulo (resto da divisão)

In [ ]:
hrsdespindula@h8:~$ python3
Python 3.9.2 (default, Feb 28 2021, 17:03:44)
[GCC 10.2.1 20210110] on linux
Type "help", "copyright", "credits" or "license" for more information.
>>> print("SEU TEXTO")
SEU TEXTO
>>> print("ola mundo")
ola mundo
>>> 2+3
5
>>> 2-1
1
>>> 3*2
6
>>> 15/5
3.0
>>> 2**3
8

Fazendo aqui

In [8]:
print("2+3 = ",2+3)
print("2-1 = ",2-1)
print("3*2 = ",3*2)
print("15/5 = ",15/5)
print("2**3 = ", 2**3)

2+3 =  5
2-1 =  1
3*2 =  6
15/5 =  3.0
2**3 =  8

In [15]:
qtde_alunos = 30
nome = "Maria"
pi = 3.14

print(qtde_alunos, " ", nome, " ", pi)

qtde_alunos = 200
alunos_externos = 20
total_alunos = qtde_alunos + alunos_externos
print(total_alunos)
print(qtde_alunos - alunos_externos)

print("qtde_alunos = ", type(qtde_alunos))
print("nome = ", type(nome))
print("pi = ", type(pi))

30   Maria   3.14
220
180
qtde_alunos =  <class 'int'>
nome =  <class 'str'>
pi =  <class 'float'>

Tipos dinamico de variavel

In [19]:
x = 20
print("x = ", x, " = ", type(x))

x = 20.13
print("x = ", x, " = ", type(x))

x = "20"
print("x = ", x, " = ", type(x))

x =  20  =  <class 'int'>
x =  20.13  =  <class 'float'>
x =  20  =  <class 'str'>

Concatenar é somar str

In [21]:
str1 = "sou a"
str2 = " Helena"
x = str1 + str2
print(x)

print(10*str2)

sou a Helena
 Helena Helena Helena Helena Helena Helena Helena Helena Helena Helena

In [23]:
variavel_destino = input("Texto opcional para exibir: ")

print(variavel_destino)

Texto opcional para exibirteste
teste

In [25]:
print("Olá mundo!")
nome = input("Digite seu nome: ")
print("Seu nome é", nome)

idade = input("Digite sua idade: ")
idade_apos = input("Com quantos anos você quer aposentar: ")
anos_apos = idade_apos - idade
print("Faltam", anos_apos, " para você aposentar")

Olá mundo!
Digite seu nome: Helena
Seu nome é Helena
Digite sua idade: 33
Com quantos anos você quer aposentar: 70

TypeError: unsupported operand type(s) for -: 'str' and 'str'

 não vai dar certo assim pq o tipo automatico tá errado

In [29]:
idade = int(input("Digite sua idade: "))
idade_apos = int(input("Com quantos anos você quer aposentar: "))
anos_apos = idade_apos - idade
print("Faltam ", anos_apos, " para você aposentar")

idade = float(input("Digite sua idade: "))
idade_apos = float(input("Com quantos anos você quer aposentar: "))
anos_apos = idade_apos - idade
print("Faltam ", anos_apos, " para você aposentar")
print("Faltam", anos_apos, "para você aposentar")

Digite sua idade: 33
Com quantos anos você quer aposentar: 70
Faltam  37  para você aposentar
Digite sua idade: 50
Com quantos anos você quer aposentar: 70
Faltam  20.0  para você aposentar
Faltam 20.0 para você aposentar


Terminal:
```
$ python meu_script.py 5
```

Saida:
```
Voce digitou o numero 5.
```

Codigo-fonte:
```
import sys
entrada = sys.argv[1]
print("Voce digitou o numero {}.".format(entrada))
```

Para receber argumentos direto da linha de comando usamos o

```
sys.argv[1]
```

No arquivo "Downloads/meu_script.py":
```
import sys
print(sys.argv)
```

No terminal
```
hrsdespindula@h8:~/Downloads$ python3 meu_script.py 5 -15 nome 0 sim
['meu_script.py', '5', '-15', 'nome', '0', 'sim']
```

No arquivo "Downloads/meu_script.py":
```
import sys
def fat(n):
  res = 1
  for i in range(2,n+1):
    res *= i
  print(res)

n = int(sys.argv[1])
fat(n)
```

No terminal:
```
hrsdespindula@h8:~/Downloads$ python3 meu_script.py 1
1
hrsdespindula@h8:~/Downloads$ python3 meu_script.py 2
2
hrsdespindula@h8:~/Downloads$ python3 meu_script.py 3
6
hrsdespindula@h8:~/Downloads$ python3 meu_script.py 4
24
```